* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #EDEDED;
  color: #031054;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #EDEDED;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}





input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

