.add__service {
  padding: 50px;
  margin: 0 auto;
  width: 70%;
  box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
  background-color: #FFFFFF;
  border-radius: 30px;
}

.add__service__text {
  font-size: 22.5px;
  font-weight: 600;
}

.add__service__input {
  margin-top: 15px;
  font-size: 16px;
  width: 40%;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #DDDDDD;
  padding: 0 20px;
}

.add__service__text__second {
  margin-top: 50px;
}

.add__service__input__second {
  width: 40%;
  margin-top: 15px;
  padding: 0 20px;
  font-size: 16px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #DDDDDD;
}
