.blocked{
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: #F3F4FF;
  &__row{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }
  &__title{
    margin-bottom: 20px;
  }
  &__user{
    width: 48%;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 15px 0 rgba(74, 98, 182, 0.26);
    -moz-box-shadow: 0 0 15px 0 rgba(74, 98, 182, 0.26);
    box-shadow: 0 0 15px 0 rgba(74, 98, 182, 0.26);
    padding: 20px 30px;
    align-items: center;
    &__info{
      display: flex;
      align-items: center;
      &__img{
        width: 70px;
        margin-right: 20px;
        & > img{
          width: 100%;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      &__text{
        width: 100%;
        word-wrap: break-word;
        &__name{
          display: flex;
          cursor: pointer;
          & > p{
            margin-right: 5px;
            color: #4A62B6;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
        &__role{
          & > p{
            color: #A098AE;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
    &__text{
      word-wrap: break-word;
      & > p{

      }
    }
  }
}
