.create-job-desc-text{
  width: 460px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #FFF;
  outline: none;
  padding: 10px 20px;
  border: none;
  resize: none;
  margin-top: 44px;
  color: rgba(3, 16, 84, 0.50);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
