.create__cv__desc {
  color: #031054;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-start;
}

.create__cv__block {
  width: 415px;
  display: flex;
  margin-top: 46px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.create__cv__input {
  align-self: flex-start;
  width: 415px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: #D9D9D9;
  outline: none;
  padding: 7px 18px;
  margin-top: 24px;
  overflow: hidden;
}

.create__cv__suggested-skills {
  color: #031054;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-start;
}

.create__cv__skills {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  &__title {
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0.1px;
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #E17A01;
    border-radius: 100px;
    margin-right: 12px;
    margin-top: 30px;
    cursor: pointer;
  }
}

.selected {
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4px 10px 4px 14.87px;
  background: #FFF;
  border-radius: 100px;
  display: flex;
  margin-right: 10px;
}

.skill-delete {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  //width: 60px;
  //height: 25px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
}

.hidden {
  color: #D9D9D9;
}

.create__cv__input-container {
  position: relative;
  overflow: hidden;
}

.selected-container {
  position: absolute;
  top: 30px;
  left: 10px;
  display: flex;
  width: 100000px;
}
.create__cv__container{
  display: flex;
  flex-direction: column;
  width: 541px;
  height: 100%;
  margin-top: 70px;
}
.create__cv__title{
  color: #031054;
  font-family: Lato , sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.create__cv__selected-container {
  position: absolute;
  top: 30px;
  left: 10px;
  display: flex;
  width: 100000px;
}
.create__cv__selected {
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4px 10px 4px 14.87px;
  background: #FFF;
  border-radius: 100px;
  display: flex;
  margin-right: 10px;
}
