.CreateCvSixth{
  width: 575px;
  padding-top: 70px;
  &__services{
    width: 100%;
    position: relative;
    &__text{
      margin-bottom: 29px;
      & > h3{
        color: #031054;
        font-family: "Lato", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
    }
    &__select{
      width: 530px;
    }
  }
  &__suggest{
    width: 100%;
    position: relative;
    &__title {
      color: #031054;
      font-family: 'Lato', sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 50px;
    }
    &__block {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
      &-text {
        color: #031054;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
      }
      &-bottom {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        & > label {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 415px;
          padding: 12px 20px;
          border-radius: 8px;
          background: #FFF;
        }
        & > p {
          margin-left: 20px;
        }
      }
      &-input {
        width: 50px;
        border: none;
      }
    }
  }
}
