.map-profile{
  width: 550px;
  background: #FFF;
  padding: 45px 23px;
  box-shadow: 10px 2px 20px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  &__user{
    display: flex;
    justify-content: space-between;
    &__info{
      &-image{
        width: 130px;
        margin-right: 40px;
        & > img{
          width: 100%;
          cursor: pointer;
        }
      }
      &-text{
        padding: 10px 0;
        &-review{
          display: flex;
          align-items: center;
          & > h3{
            color: #E17A01;
            text-align: center;
            font-family: "Lato", sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          & > p{
            color: #031054;
            text-align: center;
            font-family: "Lato", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          & > div{
            display: flex;
            width: 25px;
            margin-right: 5px;
            & > img{
              width: 100%;
            }
          }
        }
        & > h3{
          color: #031054;
          font-family: "Lato", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          cursor: pointer;
        }
        & > p{
          color: rgba(3, 16, 84, 0.50);
          font-family: "Lato", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          cursor: pointer;
        }
      }
    }
    &__not{
      & > p{
        color: #031054;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
  }
  &__information{
    & > ul{
      & > li{
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #031054;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        &:nth-child(1){
          color: #031054;
          text-align: center;
          font-family: "Lato", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        & > svg{
          margin-right: 7px;
        }
      }
    }
  }
}
