.user-dashboard{
  width: 60%;
  background: #F3F4FF;
  padding: 50px 45px;
  &__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    &__text{
      & > h3{
        color:#4A62B6;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &__search{
      & > input{
        display: flex;
        width: 350px;
        height: 60px;
        align-items: center;
        border: none;
        border-radius: 50px;
        color: #A098AE;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 50px;
      }
    }
  }
  &__profile{
    display: flex;
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    padding: 30px 45px;
    margin-bottom: 400px;
    &__info{
      margin-right: 150px;
      &__img{
        width: 158px;
        margin-bottom: 22px;
        & > img {
          width: 100%;
          cursor: pointer;
        }
      }
      &__text{
        margin-bottom: 5px;
        &-name{
          width: fit-content;
          margin-bottom: 10px;
          & > p{
            color: #031054;
            font-family: "Lato", sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
          }
        }
        &-status{
          margin-bottom: 15px;
          width: fit-content;
          & > p{
            color: #031054;
            font-family: "Lato", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
          }
        }
        &-location{
          display: flex;
          align-items: center;
          width: fit-content;
          & > div{
            width: 24px;
            display: flex;
            margin-right: 5px;
            & > img{
              width: 100%;
            }
          }
          & > p{
            color: #A098AE;
            font-family: "Lato", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
    &__contact{
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      margin-top: auto;
      &__phone{
        & > p{
          color: #A098AE;
          font-family: "Lato", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 15px;
        }
        &-w{
          display: flex;
          align-items: center;
          & > div{
            width: 40px;
            background: #E17A01;
            border-radius: 50%;
            margin-right: 15px;
            & > img{
              width: 100%;
              display: flex;
              padding: 8px;
            }
          }
          & > p{
            color: #031054;
            font-family: "Lato", "sans-serif";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
          }
        }
      }
      &__email{
        & > p{
          color: #A098AE;
          font-family: "Lato", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 15px;
        }
        &-w{
          display: flex;
          align-items: center;
          & > div{
            width: 40px;
            background: #E17A01;
            border-radius: 50%;
            margin-right: 15px;
            & > img{
              width: 100%;
              display: flex;
              padding: 8px;
            }
          }
          & > p{
            color: #031054;
            font-family: "Lato", "sans-serif";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.user__not__selected{
  text-align: center;
  margin-top: 50px;
}
