.worker {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 88px;
  align-items: flex-start;
  .show-job-details{
    border: 0.5px solid #000;
    padding: 0 10px;
    margin-top: 5px;
    border-radius: 20px;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  &-desc {
    position: relative;
    display: flex;
    width: 30%;
    flex-direction: column;
    background-color: rgb(225 122 1 / 69%);
    padding: 10px 40px;
    border-radius: 15px;
    &__title {
      margin-bottom: 20px;
      cursor: pointer;
      word-wrap: break-word;
      text-align: center;
      border-bottom: 1px solid;
    }
  }
  &-offers{
    width: 100%;
    padding-bottom: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    &-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      & > p:hover{
        background-color: rgba(225, 122, 1, 0.69);
        color: #FFFFFF;
        border: 1px solid rgba(225, 122, 1, 0.69);
        transition: all 0.5s;
      }
      & > h3{
        word-wrap: break-word;
        width: 50%;
        text-align: center;
      }
      & > p{
        margin-left: 5px;
        padding: 0 10px;
        text-align: center;
        white-space: nowrap;
        padding: 5px 10px;
      }
    }
    & > h3{
      width: 100%;
      margin-bottom: 30px;
      color: #031054;
      font-family: "Lato", sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  &_pagination{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }
}

.worker-offer-ticket{
  background-color: #D9D9D9;
  width: 45%;
  padding: 14px 14px;
  margin-bottom: 67px;


  &__first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.forFilter-first-line{
      word-wrap: break-word;
    }

    &__title{
      max-width: 80%;
      word-wrap: break-word;
      color: #031054;
      font-family:"Lato", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &.forFilter-title{
        width: 48%;
      }
    }

    &__block{
      display: flex;
      flex-direction: column;
      align-items: center;

      &.forFilter-block{
        align-items: end;
        width: 48%;
      }
    }

    &__img{
      width: 47px;
      height: 47px;
    }

    &__name{
      color: black;
      font-family:"Lato", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &.forFilter-name{
        text-align: end;
      }
    }

    &__left{
      &.forFilter-left{
        width: 48%;
      }
      &__text{
        color: #031054;
        font-family:"Lato", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &__right{
      &__svg{
        width: 20px;
        height: 20px;
        margin-right: 9px;
        margin-top: 9px;
      }
    }
  }
  &__second-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-top: 10px;

    &.forFilter-second-line{
      width: 48%;
      word-wrap: break-word;
    }

    &__price{
      color: #031054;
      font-family:"Lato", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      &.forFilter-price{
        width: 100%;
      }
    }
  }
  &__button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #E17A01;
    color: #031054;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    border: 1px solid #E17A01;
    margin-bottom: 7px;

    &:hover {
      background-color: transparent;
      color: #031054;
      border-color: #031054;
    }
  }
}

.parent-block-for-filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
