.create-cv {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 150px;
  &__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & > .container-job.container {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}