.join{
  background-color: #D9D9D9;
}
.join__row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.join__left{
  margin-top: 160px;
  &__title{
    width: 581px;
    font-family:"Lato", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__text{
    margin-top: 17px;
    width: 478px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__block{
    display: flex;
  }
}



.join__right{
  margin-top: 32px;
  width: 700px;
  position: relative;
  &__img{
    width: 100%;
    margin-left: 140px;
  }
}

.join__bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    color: #031054;
    font-family: "Lato",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
  }

  &__form{
    margin-top: 30px;
    margin-bottom:7px;
    display:flex;
    padding: 7px 13px;
    border-radius: 100px;
    border: 1px solid  #E17A01;
    background-color: #FFF;
    align-items: center;
    justify-content: center;

    &__line{
      width: 1px;
      height: 29px;
      background-color:  #D9D9D9;
      margin: 0 28px 0 5px;
    }
    &__label{
     display: flex;
      justify-content: center;
    }
    &__job,&__city{
      width: 230px;
      border: 0;
      font-family: "Lato" ,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      outline: none;
      color: rgba(3, 16, 84, 0.50);
    }
    &__job{
      margin-left: 30px;
    }

  }
}

.join__bottom__form__icon{
  width: 20px;
  height: 18px;
}
.pro{
padding: 130px 0 160px;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pro__title{

  color:  #031054;
  font-family: "Lato",sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



.pro__plan{
  padding: 125px 0 80px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../../images/home_pro_bg_img.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;



   &__card{
     padding: 29px 56px 55px 46px;
     width: 285px;
     border-radius: 22px;
     background:  #DFA662;
     position: relative;
   &__icon{
   position: absolute;
   left:180px;
     bottom:248px;

   }

   &__title{
     position: relative;
     z-index: 2;
     margin-top: 50px;
     color:  #031054;
     text-align: center;
     font-family: "Lato",sans-serif;
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     &__span{
       font-size: 18px;
     }
   }
    &__text{
      margin-top: 42px;
      color:  #031054;
      text-align: center;
      font-family: "Lato",sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
   }
}
