.messages{
  display: flex;
  width: 100%;
  &__left{
    width: 433px;
    border-right: 2px solid #D9D9D9;
    &__list{
      padding: 0 31px;
      height: 500px;
      overflow-y: scroll;
      &__scroll {
        height: auto;
      }
    }
    &__title{
      padding: 11px 31px;
      border-bottom: 2px solid #D9D9D9;
      height: 64px;
      & > h3{
        color: #000;
        font-family: "Lato", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &__search{
      padding: 17px 31px 44px;
      position: relative;
      & > label{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
      }
      & > label > img {
        width: 14px;
        position: absolute;
        height: 100%;
        left: 18px;
      }
      & > label > input {
        width: 300px;
        height: 40px;
        border-radius: 12px;
        opacity: 0.800000011920929;
        background: #D9D9D9;
        border: none;
        padding: 0 0 0 50px;
        &::placeholder{
          color: #000;
          font-family: "Lato", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          display: flex;
        }
      }
    }
  }
  &__right{
    width: 816px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #D9D9D9;
    &__user{
      height: 64px;
      padding: 0 56px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid #D9D9D9;
      &__avatar{
        display: flex;
      }
      &__avatar > img{
        height: 47px;
        cursor: pointer;
      }
      &__name{
        width: 138.289px;
        height: 22.167px;
        & > h3{
          color: #000000;
          text-align: center;
          font-family: "Lato", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    &__send{
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: auto;
      margin-bottom: 20px;
      & > label {
        position: relative;
        display: flex;
        width: 667px;
      }
      & > label > input{
        width: 667px;
        height: 56.03px;
        border-radius: 27px;
        border: 2px solid rgba(136, 128, 128, 0.85);
        padding: 0 56px 0 43px;
        &::placeholder{
          color:#031054;
          font-family: "Lato", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      & > label > img {
        position: absolute;
        width: 26px;
        right: 31px;
        height: 100%;
        cursor: pointer;
      }
    }
    &__list{
      width: 100%;
      max-height: 550px;
      height: auto;
      padding: 52px 56px;
      overflow-y: scroll;
      &__scroll {
        height: auto;
      }
      &_right, &_left{
        display: flex;
        width: 100%;
        margin-bottom: 30px;
        align-items: center;
        & > img {
          height: 40px;
          margin-right: 30px;
          cursor: pointer;
        }
        & > p {
          color: var(--dark-blue, #031054);
          font-family: "Lato", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding: 10px;
          border-radius: 11px;
        }
      }
      &_left{
        flex-direction: row-reverse;
        & > img{
          margin: 0 0 0 30px;
        }
        & > p{
          background: #ADC4DE;
        }
      }
    }
  }
}
.user__block{
  width: 335px;
  height: 83px;
  border-radius: 22px;
  background: #E17A01;
  display: flex;
  align-items: center;
  padding: 0 11px;
  justify-content: space-between;
  margin-bottom: 12px;
  cursor: pointer;
  &__w{
    display: flex;
    align-items: center;
    & > .user__block__img{
      width: 58px;
      margin-right: 7px;
      & > img{
        width: 100%;
        cursor: pointer;
      }
    }
    & > .user__block__information{
      & > h3{
        color: var(--white, #FFF);
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      & > p{
        color: var(--white, #FFF);
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  &__date{
    & > p{
      color: var(--white, #FFF);
      text-align: center;
      font-family: "Lato", sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.messages__right__list::-webkit-scrollbar, .messages__left__list::-webkit-scrollbar {
  width: 10px;
}

.messages__right__list::-webkit-scrollbar-track, .messages__left__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.messages__right__list::-webkit-scrollbar-thumb, .messages__left__list::-webkit-scrollbar-thumb {
  background-color: rgba(103, 93, 93, 0.3);
  border-radius: 100px;
}



