.global-review-modal{
  width: 100%;
  height: 100%;
}

.profile-review-box{
  display: flex;
  justify-content: center;
  //padding-right: 70px;
  position: relative;
  &__modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(119, 119, 119, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
  }
}
.profile-text-box{
  //width: 300px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.profile {
  padding: 70px;
  position: relative;
  width: 600px;
  overflow: hidden;
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    &__img{
      width: 125px;
      height: 125px;
      border-radius: 50%;
      margin-right: 15px;
      object-fit: cover;
    }

    &__info{
      display: flex;
      flex-direction: column;
      &__name{
        color: #031054;
        font-family: "Lato",sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      &__location{
        display: flex;
        align-items: center;
        &__svg{
          width: 14px;
          height: 14px;
        }
        &__name{
          color: rgba(3, 16, 84, 0.50);
          text-align: center;
          font-family: "Lato",sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      &__time{
        color: rgba(3, 16, 84, 0.50);
        font-family: "Lato",sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &__available{
        margin-top: 10px;
        display: flex;
        align-items: center;
        &__btn{
          width: 65px;
          padding: 5px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          background: #E17A01;
          color: #FFF;
          text-align: center;
          font-family: "Lato",sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        &__toggle{
          margin-left: 5px;
          color: #031054;
          text-align: center;
          font-family: "Lato",sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    &__editBtn{
      //margin-left: auto;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      background: #E17A01;
      color: #FFF;
      text-align: center;
      font-family: "Lato",sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__list{
    display: flex;
    flex-direction: column;

    &__text{
      //margin-right: 10px;
      margin-bottom: 20px;
      color: #031054;
      font-family: "Lato",sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      &__skills{
        margin-bottom: 15px;
        //margin-left: 5px;
        padding: 0 10px;
        flex-shrink: 0;
        //border-radius: 22px;
        border-right: 1px solid rgba(161, 161, 161, 0.31);
        //border-left: 1px solid rgba(161, 161, 161, 0.49);
        //background: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #031054;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        //margin: 5px 5px 15px 5px;
      }
    }
    &__btn{
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      cursor: pointer;
      border-radius: 10px;
      //background: rgba(255, 0, 0, 0.16);
      background-color: #A098AE;
    }
    .text-small{
      position: absolute;
      color: rgba(3, 16, 84, 0.50);
      font-family: "Lato",sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &__global{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &__svg{
        width: 22px;
        height: 20px;
        margin-right: 15px;
      }
      &__info{
        color: #031054;
        font-family: "Lato",sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
  &__modal{
    background-color: rgba(112, 110, 110, 0.38);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    &__edit{
      //background-color: rgba(3, 16, 84, 0.79);
      background-color: #E17A01;
      width: 550px;
      max-height: 95%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      //background: #EDEDED;
      border-radius: 30px;
      border: 2px solid #E17A01;
      z-index: 9111;
      //-webkit-box-shadow: -3px 3px 36px 34px rgba(0, 0, 0, 0.58);
      //-moz-box-shadow: -3px 3px 36px 34px rgba(0, 0, 0, 0.58);
      //box-shadow: -3px 3px 36px 34px rgba(0, 0, 0, 0.58);

      &__btn{
        padding: 5px 15px;
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background: #fff;
        color: #E17A01;
        text-align: center;
        font-family: "Lato",sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 415px;
        &__container{
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        &__skillBtn{
          position: absolute;
          bottom: 0;
          right: 0;
          width: 36px;
          height: 36px;
          font-size: 24px;
          border-radius: 8px;
        }
          &__text{
            color: #fff;
            text-align: center;
            font-family: "Lato",sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 15px 0;
          }
          &__input{
            padding-left: 10px;
            width: 200px;
            height: 36px;
            border-radius: 8px;
            background: #ffffff;
            outline: none;
            border: 0;
            color: rgba(3, 16, 84, 0.50);
          }
        }
      }

    }
    &__close{
      width: 30px;
      height: 30px;
      border-radius:7px;
      position: absolute;
      top: 20px;
      right: 20px;
      color: var(--dark-blue, #031054);
      text-align: center;
      font-family: "Lato",sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }
}
