.write__review {
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.write__review__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 100px auto;
}

.write__review__text__one {
  margin-top: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.write__review__text__area {
  padding: 20px;
  border: none;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 22px;
  background-color: #D9D9D9;
  resize: none;
  width: 415px;
  height: 170px;
}

.write__review__text__area:focus {
  outline: none;
}

.write__review__button {
  margin-top: 30px;
}

.write__review__button__skip {
  margin-top: 20px;
  width: 415px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 47px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid #E17A01;
  background-color: transparent;
  color: #E17A01;
}

.rate {
  float: left;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 60px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: '★ ';
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.upload__img__review {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  color: #FFFFFF;
  background-color: #c59b08;
  transition: 0.3s;
}

.remove-image-button {
  position: absolute;
  right: 15px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 5px;
  top: 5px;
}

.all__img__up {
  display: flex;
}

.not__disabled:hover {
  background-color: #d5a80b;
}

.write__review__upload {
  display: flex;
  flex-direction: column;
  width: 415px;
}

.img__review {
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 22px;
  background-color: #D9D9D9;
  width: 415px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.uploaded-image-container {
  position: relative;
}

.uploaded-image {
  width: 70px;
  margin:  0 10px;
  height: 70px;
}

.img__up__review {
  display: none;
}

.disabled__img__up {
  background-color: #aeaeae;
}
