.job-hiring{
  margin-top: 0;
  padding-top: 28px;
  padding-bottom: 150px;
  background-image: url("../../images/home_pro_bg_img.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  &__block{
    &__jobs{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    &__title{
      color: #031054;
      font-family: "Lato" , sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 120px;
    }
  }
}
