.user__location__button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #E17A01;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px;
  bottom: 20px;
}

.gm-bundled-control {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.gm-bundled-control button {
  //background-color: #f0f0f0;
  color: red !important;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 8px;
  background-color: #E17A01 !important;
  margin-top: 20px !important;
  margin-left: -20px !important;
  border-radius: 10px !important;
}

.fixed {
  height: 75px;
  display: flex;
  align-items: center;
}

//.autocomplete-container{
//  width: 680px;
//}
.gmnoprint > div {
  background-color: transparent !important;
  box-shadow: none !important;
}

.autocomplete-container {
  display: flex;
  flex-direction: column;
}

.map-address-list {
  background-color: #fff;
  list-style-type: none;
  width: 400px;
  overflow-x: hidden;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 25px;
  transition: all 0.4s;
  position: absolute;
  z-index: 1;
  top: 54px;
  box-shadow: 4px 10px 45px -2px rgba(0,0,0,0.31);
  -webkit-box-shadow: 4px 10px 45px -2px rgba(0,0,0,0.31);
  -moz-box-shadow: 4px 10px 45px -2px rgba(0,0,0,0.31);
  & > li {
    margin-top: 5px;
    cursor: pointer;
    padding: 10px;
    color: #E17A01;
    transition: all 0.8s;
    &:hover {
      border-radius: 10px;
      color:  #fff;
      transform: scale(1.1);
      background-color: #4A62B6;
    };
  }
}
